body{
	background: #00121f;
	color:  white;
	overflow-x:hidden;
}
.section{
	text-align: left;
	padding-left: 50px;
	padding-top: 100px;
	background: ;
	width: 1000px;
	height: 300px;
font-family: 'Press Start 2P', cursive;
	font-size: 18px;
	line-height: 23px;
}
.textic{
font-family: 'Press Start 2P', cursive;
	text-align: center;
	line-height: 20px;
	font-size: 20px;
	padding-top: 20px;

}
.branch{
	margin-bottom: -2120px;
	padding-left:  0px;
	padding-top: 1560px;
	transform: rotate(490deg);
	margin-left: -100px;

}
.branch1{
	margin-bottom: -600px;
	transform: rotate(-30deg);
	margin-right: -62px;

}
.br3{
	margin-top: -300px;
	transform: rotate(60deg);
	margin-left: -10px;

}
.br4{
	margin-bottom: -300px;
	margin-right: -25px;
	transform: rotate(20deg);
}
.footer{
	background: white;
	 opacity: 0.2;
	 height: 21px;
	 padding-top:60px;
	 width: 1550px;
	 margin-left: -20px;
	 margin-bottom:  -20px;

}
.header-imglogo{
	border: 5px solid #001a1a;
	border-radius: 10em/5em;
}
.link{
	text-align: right;
	margin-bottom: -50px;
	padding-right: 200px;
	padding-top: 20px;
}
.link a{
	color:  green;
	text-decoration: none;
	font-style: none;
	font-size: 20px;
}
.link a:hover {
	color: white;
	transition: 0.5s;
}

}
.vk{
	margin-bottom: -3px ;
}
ul {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
     text-align: center;
   }
ul li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
   }
   ul li a{
   color:  white;
	text-decoration: none;
	font-size: 30px;
	padding: 40px;
}
.video1{
}
.lastnews{
	font-size: 40px;
	font-family: 'Press Start 2P', cursive;
}
.section a{
	text-decoration: undereline;
	color:  green;
}
.section a:hover {
	color: white;
}
.pred{
	font-family: 'Press Start 2P', cursive;
	font-size: 18px;
	line-height: 23px;
}
.arts a{
	text-decoration: undereline;
	color:  green;

}
.arts a:hover {
	color: white;

}
.bebraa{
	font-weight: lighter;
}
.arts{
	font-family: 'Press Start 2P', cursive;
	font-size: 18px;
	line-height: 23px;
	text-align: right;
	padding-right: 50px;
	padding-top: 100px;

}
.header-img{
	margin-top: -80px;
}
.blog a:hover {
	color:  green;
	transition: 0.1s;
}
.blog{
	font-family: 'Press Start 2P', cursive;
	font-weight: lighter;
	
}

.heartabyss{
	font-family: none;
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;

}
.perevertish{
	transform: scale(-1, 1);

}
.holspicssilka:hover {
	color: white;
}
.holspicssilka {
	color: green;
}
.vk1{
margin-top: -40px ;}
.love{

	margin-top: -40px;
	color: black;
	margin-right: -1000px;

}
/* Размеры скроллбара */
::-webkit-scrollbar {
    width: 5px;
    height: 1px;
}

/* Трек поле скроллбара */
::-webkit-scrollbar-track {
    -webkit-box-shadow: green; 
    background: #000;
}

/* Ползунок скроллбара */
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: green; 
    background: #2E8B57;
    border-radius: 30px;
}
.grees{
	margin-bottom: -980px;
	width: 1000px;
}
.grees1{
	margin-bottom: -154px;
	width: 1000px;
	padding-left: 300px;
}
.grees2{
	margin-bottom: -150px;
	width: 1000px;
	padding-left: 600px;
}
.vetka12{
	width: 20em;
	
}
.blog a:hover{
	transition: 0.2s;
}

a.button7 {
  font-weight: 1500;
  width: 1000px;
  height: 1000px;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: green;
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
  font-family: 'Press Start 2P', cursive;
} 
a.button7:hover {
 background: rgb(53, 167, 110); }
a.button7:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}